/* global */

body {
	background-color: Black;
	color: White;
}

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: max-content;
	text-align: center;
	background-color: RoyalBlue;
	color: White;
}

main {
	position: fixed;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	width: 100%;
	height: max-content;
	text-align: center;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: max-content;
	text-align: center;
	background-color: RoyalBlue;
	color: White;
}

/* login form */

fieldset.login_form {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	width: max-content;
	height: max-content;
	border-radius: 20px;
	border-style: solid;
	border-color: white;
}

legend.login_form {
	width: auto;
    margin-left: auto;
	margin-right: auto;
	font-weight: bold;
}

table.login_form {
	border-spacing: 10px;
}

input[type="submit"].login_form {
	margin: 10px;
}

td.login_form {
	text-align: left;
}

/* error message box */

section.error_message_box {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	width: max-content;
	height: max-content;
	border-radius: 20px;
	border-style: hidden;
	background-color: red;
	color: white;
}

p.error_message_box {
	margin: 10px;
}

button.error_message_box {
	background-color: orange;
	color: white;
	border-radius: 20px;
	border-style: hidden;
	font-size: 20px;
	font-weight: bolder;
}
