body {
	background-color: Black;
	color: White;
}

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	text-align: center;
	background-color: RoyalBlue;
	color: White;
}

main {
	height: auto;
	width: 100%;
	text-align: center;
	background-color: RoyalBlue;
	color: White;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: RoyalBlue;
	color: White;
}
